#start-btn
{
    width: 40%;
} 
#camera
{
    width: 350px;
    height: 350px;
    border:1px solid rgb(0, 0, 0);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}

#result1{
    width:450px;
    height: 250px;
    border:10px solid grey;
   
    background-size:100%;
    box-shadow:0 6px 8px 0 rgba(2,2,2,0.2);
    
}
#result2{
    width:450px;
    height: 250px;
    border:10px solid grey;
    
    background-size:100%;
    box-shadow:0 6px 8px 0 rgba(2,2,2,0.2);
}

#result3{
    width:250px;
    height: 250px;
    border:10px solid grey;
    
    background-size:100%;
    box-shadow:0 6px 8px 0 rgba(2,2,2,0.2);
    

    
}

#result1:hover{
    border-radius:130px;
}

#result2:hover{
    border-radius:130px;
}

#result3:hover{
    border-radius:130px;
}


#developer{
    align-self: baseline;
}

.b{
    background:url("download\ \(2\).jpg");
    
    background-size: 100%;
   
   
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
}


 
.developer {
    position:fixed;
    bottom:0;
    width:100%;
  line-height:3 ;
  background-color: black;
  color: white;
  text-align: center;
}